# Python
*__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.venv/
*venv/
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Pacotes de Deploy da Lambda / Artefatos
*.zip

# IDEs e Sistema
.vscode/
.idea/
.DS_Store

# Ambientes Temporários
/tmp/